<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card boarder-dark">
        <% if user_signed_in? %>
          <img class="card-img-top" src="..." alt="card image cap">
          <div class="card-body text-dark">
            <h4 class="card-title text-dark">Your Account</h4>
            <p class="card-text"><%= current_user.username %></p>
            <p class="card-text"><%= current_user.email %></p>
          </div>
          <div class="card-footer text-primary">
            <a class="card-link"><%= link_to 'Edit your account', user_path(current_user.username) %></a>
          </div>
          <% else %>
          <h6 class="card-text text-dark"><%= link_to "Sign up", signup_path %></h6>
          <h6 class="card-text text-dark"><%= link_to "Sign in", signin_path %></h6>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">  
      <h1>Elite Dangerous Ship Builds</h1>
      <% if user_signed_in? %>
        <%= link_to 'New Ship Build', new_build_path %>
      <% end %>
      <ul class="list-group">
        <% @builds.each do |build| %>
          <%= link_to build, class: "list-group-item list-group-item-action list-group-item-light" do %>
            <h5 class="list-group-item-heading text-dark"><strong> Submitted by:</strong> <%= build.user.username %></strong></h5>
            <p class="list-group-item-text text-dark""><strong>Build Name:</strong> <%= build.name %></p>
            <p class="list-group-item-text text-dark""><strong>Ship:</strong> <%= build.ship %></p>
            <p class="list-group-item-text text-dark""><strong>Comments:</strong> <%= build.comments %></p>
            <p class="list-group-item-text text-dark"">Likes: <%= build.get_upvotes.size %> | Dislikes: <%= build.get_downvotes.size %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>