<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="card boarder-dark">
        <div class="card-body text-dark">
          <h4 class="card-title text-dark"><%= link_to @build.user.username, user_path(@build.user.username) %></h4>
            <p class="card-text"><strong>Build Name:</strong> <%= @build.name %></p>
            <p class="card-text"><strong>Ship:</strong> <%= @build.ship %></p>
            <p class="card-text"><strong>URL:</strong> <%= link_to(truncate(@build.url, :length => 140), @build.url) %></p>
            <p class="card-text"><strong>Comments:</strong> <%= @build.comments %></p>
            <p class="card-text">Likes: <%= @build.get_upvotes.size %> | Dislikes: <%= @build.get_downvotes.size %></p>
        </div>
        <div class="card-footer text-primary">
          <%if @build.user == current_user %>
            <%= link_to 'Edit', edit_build_path(@build) %> |
            <%= link_to 'Delete', @build, method: :delete, data: { confirm: 'Are you sure?' } %> |
          <% end %>
          <%= link_to 'Back', builds_path %>
          <% if user_signed_in? %>
            <div style="text-align:right">
              <% if current_user.voted_for? @build %>
                <% if current_user.voted_up_on? @build %>
                  <%= link_to 'Unlike', unvote_build_path(@build), method: :delete %>
                <% else %>
                  <%= link_to 'Undislike', undownvote_build_path(@build), method: :delete %>
                <% end %>
              <% else %>
                <%= link_to 'Like', vote_build_path(@build), method: :post %> | 
                <%= link_to 'Dislike', downvote_build_path(@build), method: :post %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>