<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-16 col-ed">
                    <h2>Elite Dangerous</h2>
                    <h4>Ship Builds</h4>
                    <p> This is a place for you to store and share the various builds you've created for ships in Elite Dangerous with other people. You can also browse builds other people have created as well. </p>
                    <p><%= link_to "Ship Builds", builds_path, class: "btn btn-secondary" %></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-16 col-mwo">
                    <h2>Mechwarrior Online</h2>
                    <h4>Mech Builds </h4>
                    <p> This is a place for you to store and share the various builds you've created for mechs in Mechwarrior Online with other people. You can also browse builds other people have created as well.  </p>
                    <p><%= link_to "Mech Builds", mwo_builds_path, class: "btn btn-secondary" %></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-16 col-feed">
                    <h2>Your Feed</h2>
                    <h4>Elite Dangerous and MWO Builds</h4>
                    <p>This is where you can see all of the builds submitted by people you have followed. Get the latest and most dangerous builds by your favorite content creators.</p>
                    <p><%= link_to "My Feed", feed_path, class: "btn btn-secondary" %></p>
                </div>
            </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to our website!</h1>
            <p>This is a repository for CHMC's various builds on various video games.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-16 col-ed">
                    <h2>Elite Dangerous</h2>
                    <h4>Ship Builds</h4>
                    <p> This is a place for you to store and share the various builds you've created for ships in Elite Dangerous with other people. You can also browse builds other people have created as well. </p>
                    <p><%= link_to "Ship Builds", builds_path, class: "btn btn-secondary disabled" %> Sign in to see ship builds.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-16 col-mwo">
                    <h2>Mechwarrior Online</h2>
                    <h4>Mech Builds </h4>
                    <p> This is a place for you to store and share the various builds you've created for mechs in Mechwarrior Online with other people. You can also browse builds other people have created as well.  </p>
                    <p><%= link_to "Mech Builds", mwo_builds_path, class: "btn btn-secondary disabled" %> Sign in to see mech builds.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-16 col-feed">
                    <h2>Your Feed</h2>
                    <h4>Elite Dangerous and MWO Builds</h4>
                    <p>This is where you can see all of the builds submitted by people you have followed. Get the latest and most dangerous builds by your favorite content creators.</p>
                    <p><%= link_to "My Feed", feed_path, class: "btn btn-secondary disabled" %> Sign in to see your feed</p>
                </div>
            </div>
        </div>
    </div>
<% end %>