<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card boarder-dark">
        <% if user_signed_in? %>
          <div class="card-body text-dark">
            <h4 class="card-title text-dark">Your Account</h4>
            <center><%= image_tag current_user.avatar.url(:medium) %></center>
            <p class="card-text"><%= current_user.username %></p>
            <p class="card-text"><%= current_user.email %></p>
          </div>
          <div class="card-footer text-primary">
            <a class="card-link"><%= link_to 'Edit your account', user_path(current_user.username) %></a>
         </div>
        <% else %>
          <h6 class="card-text text-dark"><%= link_to "Sign up", signup_path %></h6>
          <h6 class="card-text text-dark"><%= link_to "Sign in", signin_path %></h6>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">  
      <h1>Mechwarrior Online Builds</h1>
      <% if user_signed_in? %>
        <%= link_to 'New Mech Build', new_mwo_build_path %>
      <% end %>
      <ul class="list-group">
        <% @mwo_builds.each do |mwo_build| %>
          <%= link_to mwo_build, class: "list-group-item list-group-item-action list-group-item-light" do %>
            <h5 class="list-group-item-heading text-dark"><strong> Submitted by:</strong> <%= mwo_build.user.username %></h5>
            <p class="list-group-item-text text-dark""><strong>Build Name:</strong> <%= mwo_build.name %></p>
            <p class="list-group-item-text text-dark""><strong>Mech:</strong> <%= mwo_build.mech %></p>
            <p class="list-group-item-text text-dark""><strong>Comments:</strong> <%= mwo_build.comments %></p>
            <p class="list-group-item-text text-dark"">Likes: <%= mwo_build.get_upvotes.size %> | Dislikes: <%= mwo_build.get_downvotes.size %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>