<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <div class="card boarder-dark">
        <div class="card-body text-dark">
          <h4 class="card-title text-dark"><%= link_to @mwo_build.user.username, user_path(@mwo_build.user.username) %></h4>
            <p class="card-text"><strong>Build Name:</strong> <%= @mwo_build.name %></p>
            <p class="card-text"><strong>Mech:</strong> <%= @mwo_build.mech %></p>
            <p class="card-text"><strong>URL:</strong> <%= link_to(truncate(@mwo_build.url, :length => 140), @mwo_build.url) %></p>
            <p class="card-text"><strong>Comments:</strong> <%= @mwo_build.comments %></p>
            <p class="card-text">Likes: <%= @mwo_build.get_upvotes.size %> | Dislikes: <%= @mwo_build.get_downvotes.size %></p>
        </div>  
        <div class="card-footer text-primary">
          <%if @mwo_build.user == current_user %>
            <%= link_to 'Edit', edit_mwo_build_path(@mwo_build) %> |
            <%= link_to 'Delete', @mwo_build, method: :delete, data: { confirm: 'Are you sure?' } %> |
          <% end %>
          <%= link_to 'Back', mwo_builds_path %>
          <% if user_signed_in? %>
            <div style="text-align:right">
              <% if current_user.voted_for? @mwo_build %>
                <% if current_user.voted_up_on? @mwo_build %>
                  <%= link_to 'Unlike', unvote_mwo_build_path(@mwo_build), method: :delete %>
                <% else %>
                  <%= link_to 'Undislike', undownvote_mwo_build_path(@mwo_build), method: :delete %>
                <% end %>
              <% else %>
                <%= link_to 'Like', vote_mwo_build_path(@mwo_build), method: :post %> | 
                <%= link_to 'Dislike', downvote_mwo_build_path(@mwo_build), method: :post %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>